.admin-app {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex: 1;
  }
  
  .sidebar {
    flex: 0 0 250px;
   margin-top: 8px;
    height: 100vh;
    padding: 20px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }