/* styles/PaginationDots.css */
.pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .pagination-dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-dots .dot.active {
    background-color: #007BFF;
  }
  
  .pagination-dots .dot:hover {
    background-color: #0056b3;
  }
  
  .pagination-dots button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 6px;
  }
  
  .pagination-dots button:disabled {
    background-color: #ccc;
  }
  
  .pagination-dots button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  